body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: #434455;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* хедер */
.header-line {
  width: 1440px;
  height: 72px;

  flex-shrink: 0;
  background: var(--WHITE, #fff);
  color: #2e2f42;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-blace {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03375rem;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-blue {
  flex-shrink: 0;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.03375rem;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.navigation .logo-blace:hover,
.navigation .logo-blace:focus {
  color: #404bbf;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.menu-item {
  padding: 24px 0;
}
.link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}

.link:hover,
.link:focus {
  color: #404bbf;
}
.address-contacts {
  display: flex;
  font-style: normal;
  gap: 40px;
}
.contacts-link {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  margin-right: 40px;
}
.contacts-list {
  display: flex;
  padding: 24px 0;
}

.contact-item {
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* кінець хедера */
.hero {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}
.section {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-content {
  max-width: 496px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.button-text {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
button {
  margin-top: 48px;
  margin-left: 500px;
  padding: 16px 32px;
}
.button-text:hover,
.button-text:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-character {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 156px;
  flex-shrink: 0;
}
.sector-character {
  display: flex;
  gap: 24px;
  list-style: none;
}

.character-list {
  flex-shrink: 0;
  letter-spacing: 0.02em;
  margin-right: 24px;
}
.character-list:last-child {
  margin-right: 0;
}
.character-traits {
  width: 264px;
  color: #2e2f42;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin-bottom: 8px;
}
.character-text {
  width: 264px;
  color: var(--SLATE, #434455);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.section-photo {
  width: 1440px;
  height: 732px;
  display: flex;
  flex-shrink: 0;
  background: var(--CLOUD, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}

.name-photo {
  display: flex;
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.content-list {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.card-content:last-child {
  margin-right: 0;
}
.contener-personal {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 8px;
  margin: 0 auto;
}

.card-personal {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-portfolio {
  width: 1440px;
  height: 3300px;
  padding: 120px 0 120px 0;
  background: #fff;
  display: block;
  margin-block-start: 20px;
  margin-block-end: 0px;
  margin-inline-start: 639px;
  margin-inline-end: 0px;
  width: calc((100% - 48px) / 3);
}
.name-portfolio {
  margin-bottom: 72px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.rowy {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  height: 420px;
  flex-shrink: 0;
  column-gap: 24px;
  list-style: none;
  padding: 32px 16px;
}

.container-gallery {
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
}

.project-card {
  display: block;
  margin-block-start: 10em;
  margin-block-end: 0em;
  margin-inline-start: -630px;
  margin-inline-end: 610px;
  width: 360px;
  height: 420px;
  letter-spacing: 0.02em;
}

.my-gallery {
  background: var(--WHITE, #fff);
  flex-shrink: 0;
}
.gallery-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  margin-bottom: 8px;
  padding-top: 32px;
}
.gallery-text {
  color: var(--SLATE, #434455);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.content-footer {
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  padding: 100px 0 100px;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo {
  margin-bottom: 16px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-white {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
